
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
	<h1>Zostałeś zaproszony na imprezke u króla Albanii</h1>

	<div>
		@Html.ActionLink("Odpowiedz na zaproszenie","RsvpForm")
	</div>
</div>
</body>
</html>
